.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:52.500000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(89,89,89);}
.fs3{font-size:36.000000px;}
.fs2{font-size:72.000000px;}
.fs4{font-size:74.000000px;}
.fs1{font-size:96.000000px;}
.fs0{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y32{bottom:75.972794px;}
.y37{bottom:97.572754px;}
.y31{bottom:97.572769px;}
.y28{bottom:98.772797px;}
.y14{bottom:119.125732px;}
.y36{bottom:119.172729px;}
.y27{bottom:120.372772px;}
.y26{bottom:141.972763px;}
.y3{bottom:156.366735px;}
.y30{bottom:162.372742px;}
.y25{bottom:163.572769px;}
.y9{bottom:178.455793px;}
.y11{bottom:183.925751px;}
.y2f{bottom:183.972748px;}
.y24{bottom:185.172775px;}
.y8{bottom:189.255795px;}
.y7{bottom:200.055794px;}
.y2{bottom:203.194778px;}
.y10{bottom:205.525757px;}
.y35{bottom:205.572739px;}
.y23{bottom:206.772781px;}
.y13{bottom:227.125763px;}
.y1a{bottom:227.125839px;}
.y2e{bottom:227.172760px;}
.y22{bottom:228.372787px;}
.y1{bottom:241.594788px;}
.yf{bottom:248.725769px;}
.y19{bottom:248.725845px;}
.y2d{bottom:248.772766px;}
.y21{bottom:249.972794px;}
.ye{bottom:270.325768px;}
.y18{bottom:270.325844px;}
.y20{bottom:271.572800px;}
.yd{bottom:291.925766px;}
.y17{bottom:291.925842px;}
.y34{bottom:291.972755px;}
.y2c{bottom:291.972771px;}
.y1f{bottom:293.172798px;}
.y12{bottom:313.525768px;}
.y16{bottom:313.525845px;}
.y1e{bottom:314.772797px;}
.yc{bottom:335.125771px;}
.y2b{bottom:335.172771px;}
.y1d{bottom:336.372799px;}
.yb{bottom:356.725769px;}
.y15{bottom:356.725845px;}
.y2a{bottom:356.772774px;}
.y6{bottom:357.935051px;}
.y1c{bottom:357.972801px;}
.ya{bottom:363.994675px;}
.y5{bottom:377.375051px;}
.y33{bottom:378.372757px;}
.y29{bottom:378.372772px;}
.y1b{bottom:379.572800px;}
.y4{bottom:449.717960px;}
.h4{height:26.208984px;}
.h3{height:52.417969px;}
.h5{height:53.874023px;}
.h6{height:56.390625px;}
.h2{height:69.890625px;}
.h1{height:93.187500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x9{left:45.808502px;}
.x6{left:53.008514px;}
.x5{left:76.149628px;}
.x1{left:109.199982px;}
.xa{left:117.808502px;}
.x7{left:125.008514px;}
.x2{left:134.783234px;}
.xb{left:189.808502px;}
.x3{left:196.267120px;}
.x4{left:209.416946px;}
.x8{left:477.317627px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:70.000000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:96.000000pt;}
.fs4{font-size:98.666667pt;}
.fs1{font-size:128.000000pt;}
.fs0{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y32{bottom:101.297058pt;}
.y37{bottom:130.097005pt;}
.y31{bottom:130.097026pt;}
.y28{bottom:131.697062pt;}
.y14{bottom:158.834310pt;}
.y36{bottom:158.896973pt;}
.y27{bottom:160.497030pt;}
.y26{bottom:189.297017pt;}
.y3{bottom:208.488981pt;}
.y30{bottom:216.496989pt;}
.y25{bottom:218.097026pt;}
.y9{bottom:237.941058pt;}
.y11{bottom:245.234334pt;}
.y2f{bottom:245.296997pt;}
.y24{bottom:246.897034pt;}
.y8{bottom:252.341059pt;}
.y7{bottom:266.741058pt;}
.y2{bottom:270.926371pt;}
.y10{bottom:274.034342pt;}
.y35{bottom:274.096985pt;}
.y23{bottom:275.697042pt;}
.y13{bottom:302.834351pt;}
.y1a{bottom:302.834452pt;}
.y2e{bottom:302.897013pt;}
.y22{bottom:304.497050pt;}
.y1{bottom:322.126383pt;}
.yf{bottom:331.634359pt;}
.y19{bottom:331.634460pt;}
.y2d{bottom:331.697021pt;}
.y21{bottom:333.297058pt;}
.ye{bottom:360.434357pt;}
.y18{bottom:360.434458pt;}
.y20{bottom:362.097066pt;}
.yd{bottom:389.234355pt;}
.y17{bottom:389.234456pt;}
.y34{bottom:389.297007pt;}
.y2c{bottom:389.297028pt;}
.y1f{bottom:390.897064pt;}
.y12{bottom:418.034358pt;}
.y16{bottom:418.034459pt;}
.y1e{bottom:419.697062pt;}
.yc{bottom:446.834361pt;}
.y2b{bottom:446.897029pt;}
.y1d{bottom:448.497065pt;}
.yb{bottom:475.634359pt;}
.y15{bottom:475.634460pt;}
.y2a{bottom:475.697032pt;}
.y6{bottom:477.246735pt;}
.y1c{bottom:477.297068pt;}
.ya{bottom:485.326233pt;}
.y5{bottom:503.166734pt;}
.y33{bottom:504.497009pt;}
.y29{bottom:504.497030pt;}
.y1b{bottom:506.097066pt;}
.y4{bottom:599.623947pt;}
.h4{height:34.945312pt;}
.h3{height:69.890625pt;}
.h5{height:71.832031pt;}
.h6{height:75.187500pt;}
.h2{height:93.187500pt;}
.h1{height:124.250000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x9{left:61.078003pt;}
.x6{left:70.678019pt;}
.x5{left:101.532837pt;}
.x1{left:145.599976pt;}
.xa{left:157.078003pt;}
.x7{left:166.678019pt;}
.x2{left:179.710978pt;}
.xb{left:253.078003pt;}
.x3{left:261.689494pt;}
.x4{left:279.222595pt;}
.x8{left:636.423503pt;}
}
